<div class="content-wrapper" >
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-md-12 mt-5" >
    
          <div style="  text-align: center;">
            <h3><b>Employee Performance Review Evaluation Table With Ratings</b></h3>
          <table class="table  table-bordered table-sm" style="background-color: steelblue; color: white;   height:auto ;">
            <thead class="thead fs-6" >
              <tr>
                <th title="id">Id</th>
                <th title="Firstname">Firstname</th>
                <th title="Lastname">Lastname</th>                
                <th title="Department">Department</th>
                <th title="Designation">Designation</th>

                <th title="UnderstandingScore">USC</th>
                <th title="TrainingScore">TSC</th>
                <th title="EquiSoftHandleScore">ESHSC</th>
                <th title="RulsPolicyFolloScore">RPFSC</th>
                <th title="KnoledgeShareWithCoworkersScore">KSWCSC</th>
                <th title="JobKnoledgeComment">JKCommet</th>

                
                <th title="CoworkersTreatedRespectScore">CTRSC</th>
                <th title="AcceptsCriticismScore">ACSC</th>
                <th title="TeamPlayerScore">TPSC</th>
                <th title="TeameResourcesShareScore">TRSSC</th>
                <th title="ExecutesTaskScore">ETSC</th>
                <th title="TeamworkComment">TComment</th>

                <th title="AcceptsMistakeScore">AcceptsMistakeScore</th>
                <th title="CanWorkWithoutSuperviseScore">CanWorkWithoutSuperviseScore</th>
                <th title="CapableTakingAnyDecisionScore">CapableTakingAnyDecisionScore</th>
                <th title="HighPressureSiruationManageScore">HighPressureSiruationManageScore</th>
                <th title="MotivateCoworkersToFinishScore">MotivateCoworkersToFinishScore</th>
                <th title="LeadershipComment">LeadershipComment</th>

                <th title="id">IsEligibleForPromotion</th>
                <th title="id">IsEligibleForTermination</th>
                <th title="id">ExtraComments</th>              

              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let employee of Employees; index as i;">
                <td>{{employee.id}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>                
                <td >{{employee.department}}</td>
                <td>{{employee.designation}}</td>

                <td>{{employee.requirUnderstandingScore}}</td>
                <td>{{employee.regardingTrainingScore}}</td>
                <td>{{employee.equiSoftHandleScore}}</td>
                <td>{{employee.rulsPolicyFolloScore}}</td>
                <td>{{employee.knoledgeShareWithCoworkersScore}}</td>
                <td>{{employee.jobKnoledgeComment}}</td>

                <td>{{employee.coworkersTreatedRespectScore}}</td>
                <td>{{employee.acceptsCriticismScore}}</td>
                <td>{{employee.teamPlayerScore}}</td>
                <td>{{employee.teameResourcesShareScore}}</td>
                <td>{{employee.executesTaskScore}}</td>
                <td>{{employee.teamworkComment}}</td>

                <td>{{employee.acceptsMistakeScore}}</td>
                <td>{{employee.canWorkWithoutSuperviseScore}}</td>
                <td>{{employee.capableTakingAnyDecisionScore}}</td>
                <td>{{employee.highPressureSiruationManageScore}}</td>
                <td>{{employee.motivateCoworkersToFinishScore}}</td>
                <td>{{employee.leadershipComment}}</td>

                <td>{{employee.isEligibleForPromotion}}</td>
                <td>{{employee.isEligibleForTermination}}</td>
                <td>{{employee.extraComments}}</td>
                
              </tr>
            </tbody>
    
          </table>
        </div>
      </div>
    </div>
    </div>
